/*-------------------------------------------------*/
/* 1. MOBILE VIEW RESPONSIVE
/*-------------------------------------------------*/

/*-------------------------------------------------------*/
/* When the browser is 1200px to all small screens,below css will be applied.
/*-------------------------------------------------------*/
@media screen and (max-width: 1200px) {
  .wrap-text .comm-mani-heading, .team-mates .comm-mani-heading,.wrap-text1 .comm-mani-heading{font-size: 75px;line-height: 75px;}
  
   
    .clint-img {
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  
  /*-------------------------------------------------------*/
  /* When the browser is 992 to all small screens,below css will be applied.
  /*-------------------------------------------------------*/
  
  @media screen and (max-width: 992px) {
    .con-det{margin-top: 50px;}
    .blog-post{padding: 60px 0;}
    .slider-wrap-img h3{
    font-size: 30px;
    line-height: 36px;
}
    .slider-wrap .slider-wrap-img img{
    width: auto;
    height: auto;
    /* object-fit: cover; */
}

    .wrap-text2 img{
    width: 80px;
    margin: 0;
}
    .wrap-text1{
    padding: 42px 0 0 0 !important;
}
    .wrap-text p{
    padding: 0 2% 0 2%;
}
    .full-img-inner img{
    top: 0;
}
    .full-img{
    padding: 0 2% 0 2%;
}
    .wpb_wrapper::before{background-size: cover;}
    .bridge-text .comm-btn{margin-top: 26px;}
    .earning{
    padding-top: 0 !important;
}
    .bridge-text{
    padding-right: 0;
    text-align: center;
    margin-bottom: 35px;
    padding-left: 0 !important;
}
    .bridge-text h2{
    font-size: 55px;
    line-height: 64px;
}
    
    .wrap-text{
    padding: 10px 2% 80px 2%;
}
    .wrap-text .comm-mani-heading, .team-mates .comm-mani-heading, .wrap-text1 .comm-mani-heading{
    padding-top: 0;
    font-size: 50px;
    line-height: 66px;
}
    .post-left{}
    .banner-img img{
    transform: scale(1);
}
    .client-logo-left{animation: logomoveleft 10s linear infinite;}
    .cpy-right h3 {
      text-align: center;
    }
   
    .the-bridge {
      padding-bottom: 10px;
      padding-top: 0;
      text-align: center;
      padding-top: 55px;
    }
    
    .customization {
      padding-bottom: 20px;
    }
  
   
    .bridge-text h2 {
    }
    
    .text {
      font-size: 36px;
      line-height: 48px;
    }
   
    .banner .ban-lhs {
      margin-top: 0;
      margin-bottom: 59px;
      padding: 0;
    }
    .blg-lhs {
      padding-right: 15px !important;
    }
    .footer {
      padding: 90px 0 70px 0;
    }
    .con-det::before {
      border: 19px solid #cde0ef;
    }
    .contact-us::before {
      width: 300px;
      height: 400px;
      opacity: 0.1;
    }
  
   
    .contact-us {
      padding: 50px 0 0 0;
    }
  
   
  
    .post-left {
      margin-top: -15px;
      margin-bottom: 30px;
    }
  
    .post-right li {
      margin-bottom: 30px;
    }
  
  
  
    .followers {
      margin-bottom: 30px;
    }
  
   
  
    .auther-in-im {
      width: auto;
    }
  
    /*-------------------------*/
    .menu a:hover {
      color: #fff;
    }
  
    .top-cl-fun {
      padding: 0 25px;
    }
  
    .side-bar.act {
      width: 100%;
    }
  
    .nav .row {
      align-items: center;
    }
  
    .nav {
      background: #fff;
      padding: 35px 0;
    }
  
    .side-bar-right i {
      width: 30px;
      height: 30px;
      font-size: 12px;
    }
  
    .logo img {
      max-width: 128px;
    }
  
    .nav-inner .menu {
      position: fixed;
      left: -500px;
      top: 0;
      overflow-y: auto;
      height: 100vh;
      width: 300px;
      background: #16243d;
      padding: 31px 20px 20px 20px;
      z-index: 99;
      transition: all 0.5s ease;
    }
  
    .menu ul li:first-child {
      display: block;
    }
  
    .menu li {
      width: 100%;
      padding-bottom: 13px;
    }
  
    .menu a {
      color: #fff !important;
      width: 100%;
      border-bottom: 1px solid #908484;
      padding-bottom: 17px;
    }
  
    .menu img {
      width: 120px;
      filter: invert(1);
      margin-bottom: 24px;
    }
  
    .menu ul li:last-child {
      border: 0;
    }
  
    .nav-inner .side-bar-right {
      position: absolute;
      right: 15px;
    }
  
    .logo {
      position: absolute;
      transform: scale(0.8);
    }
  
    .menu-bar {
      display: block;
      position: absolute;
      left: 15px;
    }
  
    .menu ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu span {
      position: absolute;
      right: 20px;
      top: 0;
      background: red;
      color: #fff;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 17px;
      cursor: pointer;
    }
  
    .menu.menuact {
      left: 0;
    }
    /*-------------------------*/
  
    .blog-det-inn h3 {
      padding: 15px 0 18px 0;
    }
  
    .blg-rhs {
      margin-top: 60px;
    }
  
    .blog-deatiles {
      padding: 90px 0 70px 0;
    }
  
    .img-aera {
      margin-top: 50px;
    }
  
    .contact-map {
      margin-top: 11px;
    }
  
    .cpy-right-top .cpy {
      flex-direction: column;
      display: flex;
      align-items: center;
      margin: 10px 0;
    }
  
    .foo-deati {
      margin-top: 10px;
    }
  
  
    .ban-inn {
      display: block;
      text-align: center;
    }
  
    .banner .ban-lhs .comm-btn {
      justify-content: center;
      margin-top: 30px;
    }
  
    .ban-lhs h1 {
      padding: 0;
      font-size: 70px;
      line-height: 66px;
    }
  
    .ban-lhs p {
      border-left: 0;
      padding-right: 0;
      padding-bottom: 25px;
      padding-left: 0;
    }
  
    .banner {
      padding-bottom: 70px;
      padding-top: 170px;overflow: hidden;
    }
  
    .post-right {
      margin-top: -16px;
    }
  
    .small-img img {
      width: 100%;
    }
  }
  
  /*-------------------------------------------------------*/
  /* When the browser is 768px to all small screens,below css will be applied.
  /*-------------------------------------------------------*/
  
  @media screen and (max-width: 767px) {
    .comm-btn a {
      padding: 23px 45px;
    }
 
    .bridge-text h2 {
      font-size: 50px;
      line-height: 59px;
    }
   
    .tag-lhs .point {
      margin: 5px 10px 9px 10px;
      display: inline-block;
    }
    .comm-heading img {
      margin-left: 30px;
    }
    .comm-heading h2 {
      font-size: 30px;
      line-height: 39px;
    }
    .contact-map {
      padding: 0;
    }
    .plac-gal-imag {
      width: 100%;
    }
  
    .banner .ban-lhs {
      padding: 0 0 0 0;
    }
    .ban-lhs h1 {
      font-size: 50px;
      line-height: 52px;
    }
    .ban-lhs p {
      font-size: 15px;
      line-height: 27px;
      font-weight: 400;
      padding-top: 0;
      padding-bottom: 16px;
    }
  
    .ban-inn {
      padding: 0 10px;
    }
    .tab-showcase {
      display: block;
    }
    .commen-banner {
      padding: 164px 0 92px 22px;
    }
  
    .ban-lhs h1::before {
      display: none;
    }
  
  
  
    .tag-share {
      justify-content: flex-start;
      margin-top: 20px;
    }
  
    .tags-share {
      flex-direction: column;
    }
  
    .foo-deati a {
      padding-left: 0;
    }
  
    .foo-deati {
      margin-top: 30px;
    }
  
    .post-content {
      padding: 25px;
    }
  }
  
  /*-------------------------------------------------------*/
  /* When the browser is 576px to all small screens,below css will be applied.
  /*-------------------------------------------------------*/
  @media screen and (max-width: 576px) {
    .post-left img {
      height: 400px;
      width: 100%;
    }
  
    .contact-following {
      display: none;
    }
  
    .ban-lhs h1::before {
      display: none;
    }
  

  
    .comm-heading {
      width: 100%;
      text-align: center;
    }
  
 
  
    .blog-post {
      padding-top: 56px;
      padding-bottom: 25px;
    }
  
    .testimonial {
      text-align: center;
      padding-top: 0;
    }
  
    .footer {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  
    .post-right li {
      flex-direction: column;
    }
  
    .post-content-1 {
      padding: 20px 0 0 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    .banner-img img{transform: scale(1.1);}
    .comm-btn a{padding: 23px 30px;}
    .wpb_wrapper img{padding: 0 0 30px 0;}
    .con-det{padding: 30px}
    .con-det::before{border: 5px solid #cde0ef;}
    .post-content h2{font-size: 23px;}
    .wrap-text1{padding: 50px 0 0 0 !important;}
    .bridge-text h2{font-size: 40px;line-height: 50px;}
    .shapes{z-index: -1;}
    .blg-in-comment li {
      width: 100% !important;
      padding: 0 !important;
      margin-bottom: 14px;
    }
    .auther-in-txt {
      width: 100%;
      padding: 0 0 0 15px;
    }
  
    .banner .ban-lhs::before,
    .banner .ban-lhs::after {
      display: none;
    }
  
    .ban-lhs h1 {
      font-size: 55px;
      line-height: 60px;
    }
  
    .banner .ban-lhs .comm-btn {
      flex-direction: column;
    }
  
    .comm-btn .bg-none {
      margin-top: 25px;
    }
  
    .text-des:after {
      display: none;
    }
  
    .abt-text i {
      font-size: 23px;
      text-align: left;
    }
  }
  