/* CSS Index
-----------------------------------
1. NAV BAR
2. BANNER
3. ABOUT US
4. WHY CHOOSE US
5. SERVICES
6. FUN FACTS
7. TAB SHOWCASE 
8. OUR TEAM
9. BLOG POST
10- TESTIMONIAL
11- Contact Us
12- FOOTER
*/



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    background: #000 !important;
}

ol,
ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

img {
    height: auto;
    max-width: 100%;
}

a:hover {
    text-decoration: none  !important;

}
p{line-height: 27px;font-size: 15px;}
/*-------------------------------------------------*/
/* BANNER
/*-------------------------------------------------*/

.banner {
    width: 100%;
    padding: 180px 0 120px 0;
    float: left;
    position: relative;
    overflow: hidden;
}

.banner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../images/banner/bg.jpg);
    background-size: cover;
    z-index: -1;
    background-position: right;
}

.ani-top {
    position: absolute;
    content: "";
    background: url(../images/icons/bitcoin-01.png);
    right: 0;
    top: 40px;
    width: 100px;
    height: 100px;
    animation: align-itms 10s infinite linear;
    background-size: cover;
}

@keyframes align-itms {

    0% {
        left: -136px;
    }

    50% {
        left: 12%;
    }

    100% {
        left: -70px;
    }
}

.banner .ban-lhs {
    float: left;
    width: 100%;
    padding: 0;
    position: relative;
    z-index: 3;
    transform: translateX(50%);
    transition: all 0.5s ease;
    opacity: 0;
    text-align: center;
}
.banner .ban-lhs b{
    background: linear-gradient(to bottom, rgb(4 255 253), rgb(208 14 221));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    display: inline-block;
}
.banner .ban-lhs.ani1 {
    transform: translateX(0);
    transition: all 0.5s ease;
    opacity: 1;
    transition-delay: 0.5s;
}
.banner .ban-lhs::before, .banner .ban-lhs::after{
    position: absolute;
    content: "";
    background: url(../images/img1/2.png);
    left: 0;
    top: 58%;
    background-size: cover;
    width: 100px;
    height: 100px;
    }
.banner .ban-lhs::after{    background: url(../images/img1/1.png);
    left: auto;
    right: 0;
    background-size: cover;
    width: 125px;
    transform: rotate(35deg);}
.ban-lhs h1 {
    font-weight: 700 !important;
    font-size: 100px;
    line-height: 110px;
    display: inline-block;
    text-transform: capitalize;
    position: relative;
}


.ban-lhs h1::before{    position: absolute;
    content: "";
    background: url(../images/icons/2.svg);
    top: -29px;
    left: -55px;
    background-size: cover;
    width: 88px;
    height: 63px;
    z-index: -1;
}



.banner .ban-rhs {
    float: left;
    padding: 0 0px 0px 150px;
    width: 45%;
    position: relative;
    z-index: 1;
}

.banner .ban-rhs::before {
    position: absolute;
    content: "";
    left: 82px;
    background: url("../images/3.png") 0% 0% / cover;
    width: 100%;
    height: 82%;
    top: -24px;
    z-index: -1;
}

.banner .ban-rhs::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: url(../images/icons/11.png);
    background-size: cover;
    width: 100px;
    height: 120px;
    z-index: 4;
}

.ban-inn {
    float: left;
    width: 100%;
    align-items: center;
}

.ban-img{position: relative;display: flex;align-items: center;justify-content: center;margin-top: 0px;width: 100%;height: 100%;}
.ban-img::before{
    position: absolute;
    content: "";
    left: 0;
    top: 44%;
    background: url(../images/img1/5.png);
    width: 160px;
    height: 120px;
    transform: rotate(-45deg);
    background-size: cover;
}
.ban-img .shapes1{
    position: absolute;
    content: "";
    animation: rotate 25.8s infinite linear;
    top: 63%;
    width: 600px;
    height: 600px;
    right: -21px;
    z-index: -1;
    }
    @keyframes rotate{
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
    
.ban-img img{
    
animation-delay: 1s;
    
max-width: 73%;
}





/*-------------------------------------------------*/
/* brands
/*-------------------------------------------------*/
.brand {
	float: left;
	width: 100%;
	margin: 60px 0 0 0;
}



.brand-inner {
	overflow: hidden;
	float: left;
	width: 100%;
}


.brand-inner li {
	display: inline-block;
}

.brand-inner li .brand-img {
	width: 120px;
	filter: invert(1);
}

.brand-inner  button {
	display: none  !important;
}


/*-------------------------------------------------*/
/* ABOUT US
/*-------------------------------------------------*/

.about-us {
	float: left;
	width: 100%;
	position: relative;
	padding-top: 160px;
	padding-bottom: 140px;
	overflow: hidden;
	background: url(../images/banner/bg2.jpg);
	background-position: right;
}


.rs1 span {
	left: auto;
	right: 51px;
}

.about-us::after {
	position: absolute;
	content: "";
	background: url(../images/shapes/14.png);
	animation: animationFramesThree 11s infinite linear alternate;
	background-size: cover;
	width: 40px;
	height: 40px;
	top: 10%;
	left: 30%;
}



.about-content {
	float: left;
	width: 48%;
	padding-right: 52px;
	position: relative;
}

.abt-benefits h3 {
	float: left;
	font-size: 36px;
	line-height: 46px;
	margin: 0;
}

.abt-benefits p {
	margin: 0;
	padding: 24px 0 24px 0;
	display: inline-block;
}

.abt-benefits b {
	font-weight: 600;
	font-size: 15px;
	margin: 0 6px;
}

.abt-benefits {
	float: left;
	padding-right: 20px;
}

.abt-benefits ul {
	padding: 0;
	margin: 0;
}

.abt-benefits li {
	float: left;
	width: 50%;
	position: relative;
	margin-bottom: 10px;
}

.abt-benefits i {
	float: left;
	margin: 7px 12px 0 0;
	color: #ff9800;
	display: none;
}

.abt-benefits h4 {
	float: left;
	font-weight: 500 !important;
	font-size: 16px;
	margin: 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 16px;
	margin-left: 10px;
}

.abt-benefits h4::before,
.abt-benefits h4::after {
	position: absolute;
	content: "";
	left: 0;
	width: 8px;
	height: 1.8px;
	background: #fff;
}

.abt-benefits h4::after {
	width: 5px;
	height: 5px;
	border-radius: 50px;
	left: -10px;
}

.abt-student {
	float: left;
	width: 100%;
	margin-top: 24px;
	position: relative;
}

.abt-benefits h6 {
	float: left;
	font-weight: 500;
	border-bottom: 1px solid #e4dddd;
	padding: 24px 0 27px 0;
	font-size: 15px;
}

.abt-student img {
	float: left;
	width: 65px;
	height: 65px;
	object-fit: cover;
	border-radius: 50%;
}

.abt-name-det {
	float: left;
	width: 80%;
	padding: 15px 0 0 15px;
}

.abt-name-det .abt {
	font-size: 13px;
	float: left;
	margin: -10px 0 0 0;
}

.abt-name-det h5 {
	font-size: 18px;
	float: left;
	width: 100%;
}



.abt-student-img {
	float: left;
	width: 52%;
	position: relative;
	transition: all 0.5s ease;
}

.abt-student-img img {
	position: absolute;
	width: 250px;
	height: 275px;
	object-fit: cover;
	z-index: 2;
	border-radius: 2px;
	filter: grayscale(0.2);
	transition: all 0.4s ease;
}

.abt-student-img .student-img {
	left: 30px;
	top: -25px;
	border-radius: 0 100px 100px 100px;
}

.abt-student-img .student-img:hover {
	transform: translateX(-10px);
}

.abt-student-img .student-img1 {
	right: 30px;
	top: -25px;
	width: 250px;
	height: 275px;
	border-radius: 100px 0 100px 100px;
}

.abt-student-img .student-img1:hover {
	transform: translateX(10px);
}

.abt-student-img .student-img2, .abt-student-img .student-img3{
	bottom: -6px;
	left: 30px;
	border-radius: 50px 50px 50px 0;
}
.abt-student-img .student-img3{
    left: auto;
    right: 30px;
    border-radius: 50px 50px 0px 50px;
}

.abt-student-img .student-img2:hover {
	transform: translateX(-10px);
}

.abt-student-img:before {
	position: absolute;
	content: "";
	background: url(../images/img1/2.png);
	background-size: cover;
	width: 80px;
	height: 80px;
	animation: rotate 20s infinite linear;
	left: 50%;
	top: 47%;
}


/*-------------------------------------------------*/
/* Employing the latest tab start
/*-------------------------------------------------*/

.Employing-tab{
    float: left;
    width: 100%;
    text-transform: capitalize;
    overflow: hidden;
}
.Employing-tab .comm-heading{}
.latest-blokchain-tab{
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 30px;
}
.latest-blokchain-tab::before{position: absolute;content: "";top: 42%;background: #2041ac;width: 100%;height: 1px;left: 0;right: 0;z-index: -1;}
.latest-blokchain-tab::after{position: absolute;content: "";}
.latest-blokchain-tab ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.latest-blokchain-tab li{
    width: 100%;
    position: relative;
}


.latest-blokchain-tab ul li:last-child::after{display: none;}
.latest-blokchain-tab li::after{position: absolute;content: "";right: 0;top: 39%;border: 1px solid #fff;background: #192550;width: 7px;height: 7px;border-radius: 50px;}
.latest-blokchain-tab span{
    font-weight: 500;
    position: relative;
    background: #18254e;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.latest-blokchain-tab .act{background: #371465;color: #fff;transition: all 0.5s ease;}
.latest-blokchain-top{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.latest-blokchain-items{
    float: left;
    width: 100%;
    display: none;
}
.latest-blokchain-items.act{
    display: block;
}
.latest-blokchain-items ul{
    /* display: flex; */
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.latest-blokchain-items li{
    /* padding-right: 50px; */
    float: left;
    width: 25%;
}
.list-items{}
.list-items img{
    width: 80px;
}
.list-items h4{
    margin-top: 16px;
    line-height: 32px;
    font-weight: 500 !important;
}



/*-------------------------------------------------*/
/* funfacts 
/*-------------------------------------------------*/

.fun-fact-inner {
    float: left;
    width: 100%;
    position: relative;
    padding: 20px;
}
.fun-fact-inner::before, .fun-fact-inner::after{position: absolute;content: "";top: 0;left: 0;right: 0;width: 100%;height: 1px;background: linear-gradient(45deg, #8b1fb700, #52a3f1, #654fff05);}
.fun-fact-inner::after{top: auto;bottom: 0;}


/*-------------------------------------------------*/
/*search top
/*--------------------------------------------------*/
.top-cl-fun {
    z-index: -10;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    transition: all 0.7s ease;
    box-shadow: 0 1px 6px 0 #0a0a0a29;
    visibility: hidden;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-100%);
}

.top-cl-fun.act {
    z-index: 100;
    visibility: visible;
    transform: translateY(0%);
}

.top-search {
    color: #fff;
    position: relative;
    width: 100%;
}

.top-search .sub-button {
    outline: none;
    background: no-repeat;
    position: absolute;
    bottom: 20px;
    right: 16px;
    text-align: center;
    transform: scale(1.5);
}

.top-search input {
    background: none;
    padding: 0 40px 0 40px;
    border-radius: 0;
    font-size: 14px;
    border: 0;
    font-weight: 300;
    width: 100%;
    height: 65px;
    font-size: 15px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
}

.top-search input::placeholder {
    color: #fff;
}

.top-cl-fun span {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    background: #fff;
    height: 40px;
    width: 40px;
    border: 1px solid #999;
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
    cursor: pointer;
    color: #3f51b5;
}

.top-search .sub-button .se-icon {
    color: #fff;
    background: none;
    transform: none;
}


/*-------------------------------------------------*/
/* SIDE BAR
/*-------------------------------------------------*/

.side-bar {
    position: fixed;
    background: #fff;
    padding: 40px;
    text-transform: capitalize;
    box-shadow: 0 0 90px 0 rgb(0 0 0 / 10%);
    top: 0;
    transition: all 1s ease;
    right: -500px;
    width: 400px;
    overflow: hidden;
    overflow-y: auto;
    height: 100vh;
    transition: all 0.5s ease;
    z-index: 1000;
}

.side-bar-im {
    width: 100%;
    margin-bottom: 25px;
}

.side-bar-im img {
    width: 150px;
    height: auto;
    display: inline-block;
    margin-bottom: 25px;
}

.side-bar-im h3,
.side-bar-blg-post h3,
.side-panel-con h3 {
    margin-bottom: 18px;
    width: 100%;
    letter-spacing: -0.5px;
    font-size: 20px;
    display: inline-block;
    font-weight: 600;
    position: relative;
}

.side-panel-con a {
    background: none;
    text-decoration: none;
}

.side-bar-blg-post h3 {
    margin-bottom: 0;
}

.side-bar-im p {
    font-size: 13px;
    line-height: 22px;
    float: left;
    padding-bottom: 30px;
    margin: 0;
}

.side-bar-blg-post {
    float: left;
    width: 100%;
    padding: 30px 0 30px 0;
    border-top: 1px solid #c9c9daf5;
}

.popu-news img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-top: 6px;
}

.side-bar-blg-post,
.blg-post-content {
    float: left;
    width: 65%;
    padding-top: 10px;
}

.side-bar-blg-post {
    width: 100%;
    padding-top: 30px;
}

.blg-post-content b {
    color: #3d02a8;
}

.side-panel-con {
    padding-top: 0;
    display: inline-block;
}

side-panel-con ul {
    margin: 0;
    padding: 0;
}

.side-panel-con li {
    float: left;
    list-style-type: none;
    display: block;
    padding: 0px 0 15px 0;
    width: 100%;
}

.side-panel-con i {
    color: rgb(240 64 55 / 86%);
    margin-right: 15px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    height: 35px;
    width: 35px;
    background: rgba(240, 64, 55, 0.1);
    text-align: center;
    line-height: 34px;
    border-radius: 50%;
}

.side-panel-con li:nth-child(2) i,
.abt-why-booking ul li:nth-child(2) i {
    color: rgb(82 211 253);
    background: rgba(82, 211, 253, .1);
}

.side-panel-con li:nth-child(3) i,
.abt-why-booking ul li:nth-child(3) i {
    color: rgb(23 194 152);
    background: rgba(23, 194, 152, .1);
}

.side-panel-con span {
    font-size: 14px;
    text-transform: initial;
    padding-top: 4px;
    color: #fff;
}

.side-bar-im i {
    position: absolute;
    right: 40px;
    top: 40px;
    text-align: center;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    line-height: 30px;
    transition: all 0.6s ease;
    background: red;
}

.side-bar-im i:hover {
    transition: all 0.6s ease;
    background: #055dfd;
    color: #fff;
}

.side-panel-con li:nth-child(4) i {
    background: #ece8fd;
    color: #8067f0;
}


.side-bar.act {
    right: 0;
}

.contact-following ul {
    display: flex !important;
}


/*-------------------------------------------------*/
/* NAV
/*-------------------------------------------------*/

.nav {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 18px 0px;
    z-index: 99;
}

.nav.act {
    box-shadow: rgb(0 0 0 / 33%) 0px 0px 20px -10px;
    background: #fff;
    z-index: 99;
    position: fixed;
}

.nav.act a {
    color: #000;
}

.nav-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo img {
    max-width: 150px;
    filter: invert(1);
}

.nav-inner .menu {
    width: 100%;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.menu li {
    padding: 0px 20px;
    position: relative;
}

.menu a {
    font-weight: 500;
    font-size: 16px;
    position: relative;
    z-index: 1;
    text-decoration: unset;
    display: inline-block;
    text-transform: capitalize;
    transition: all 0.5s ease;
    color: #fff;
}

.menu a:hover {
    color: #ff7425 !important;
    text-decoration: none;
}

.menu a::before {
    content: '';
    position: absolute;
    height: 2px;
    bottom: 3px;
    left: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    background: #ff7425;
    transform: scalex(0);
    transform-origin: right;
}

.menu a:hover::before {
    transform: scalex(1);
    transform-origin: left;
}

.menu ul li:first-child {
    display: none;
}

.menu span {
    display: none;
}

.nav-inner .side-bar-right {
    display: flex;
    justify-content: space-between;
}


.side-bar-right i {
    font-size: 12px;
    color: #fff;
    background: #212b3e;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 6px;
    cursor: pointer;
    border: 1px solid #596d92;
}

.comm-heading {
    display: inline-block !important;
    position: relative;
    margin-bottom: 20px;
}

.comm-heading span:before, .comm-heading span::after{
    position: absolute;
    content: "";
    left: 0;
    top: 4px;
    background: #46a0fa;
    width: 10px;
    height: 10px;
    border-radius: 50px;
}
.comm-heading span::after {
  
width: 20px;
  
height: 1px;
  
border-radius: 0;
  
left: 19px;
  
top: 9px;
}
.comm-heading span {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    color: #101948;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 50px;
}

.comm-heading h2 {
    display: block;
    padding: 15px 0 15px 0;
    margin-bottom: 0;
    font-size: 43px;
    line-height: 50px;
}

.inn img {
    width: 60px;
    height: 60px;
    position: absolute;
    margin: 0 0 0 10px;
}

.comm-btn {
    position: relative;
    text-transform: capitalize;
    margin: 34px 0 0 0;
    /* float: left; */
    width: 100%;
}
.comm-btn i{}

.comm-btn a {
    padding: 16px 80px;
    border: 2px solid #569ef0;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 50px;
}
.comm-btn a::before{position: absolute;content: "";top: 0;left: -7px;background: #45f882;height: 100%;z-index: 3;border-radius: 10%;}

.comm-btn a:hover {
    background: #3c3ddc;
    text-decoration: none;
    color: #fff;
}

.comm-btn .bg-none:after {
    display: none;
}

.comm-btn .bg-none:before {
    display: none;
}

.comm-btn .add-btn {
    background: none;
    padding: 0;
    color: #fff;
    font-weight: 500;
    border: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 32px;
    border: 1px dashed #000;
}

.comm-btn .add-icon {
    line-height: 50px;
    background: none;
    left: 4px;
}

.menu-bar {
    display: none;
}

.menu-bar i {
    color: #fff;
    background: #271253;
    padding: 5px 7px;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    font-weight: 200;
    float: left;
    cursor: pointer;
}


/*-------------------------------------------------*/
/* fun facts start
/*-------------------------------------------------*/

.fun-fact {
    position: relative;
    width: 100%;
    float: left;
    text-align: center;
    /* overflow: hidden; */
    margin-top: -122px;
    background: #030222;
}


.fun-fact-inner li {
    float: left;
    width: 33.333%;
    padding: 30px;
    position: relative;
}
.fun-fact-inner li::after{position: absolute;content: "";background: linear-gradient(45deg, #8b1fb700, #52a3f1, #654fff05);right: 0;top: 0;bottom: 0;width: 1px;height: 100%;}
.fun-fact-inner li:last-child:after{
    background: none;
}

.number {
    position: relative;
    text-transform: capitalize;
}


.number span {
    font-size: 30px;
    /* color: #fff; */
    margin: 7px 0 10px 0;
    font-weight: 600;
}

.number h4 {
    font-size: 15px;
    font-weight: 500 !important;
    text-transform: uppercase;
    line-height: 25px;
}



.fun-fact::before {
    position: absolute;
    content: "";
    top: 0;
    /* background: url(../images/background/2.png); */
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    filter: inherit;
    background-position: center;
    /* transform: scalex(1.3); */
}

.rating {
    width: 100%;
    padding: 22px 0 2px 0;
}

.number-rating ul {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number-rating li {
    text-align: center;
}

.number-rating i {
    display: block;
    font-size: 37px;
    font-weight: 600;
    color: #342487;
}

.number-rating span {
    color: #555;
}

.comm-btn i {
    color: #fff;
    font-size: 22px;
    border-radius: 50%;
    width: 54px;
    height: 55px;
    text-align: center;
    background: rgb(86 158 240);
    position: absolute;
    right: 0;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    display: none;
}

.services {
    float: left;
    width: 100%;
    padding: 0 0 100px 0;
    position: relative;
    /* background: #f5f5fd; */
    overflow: hidden;
}
.services button{display: none !important;}
.ser-inner {
    text-transform: capitalize;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-right: 10%;
    display: flex;
    padding-left: 10%;
}

.ser-inner h2 {
    display: inline-block;
    margin: 0 0 30px 0;
    font-size: 43px;
    letter-spacing: -1px;
}



.services-rhs {
    width: 100%;
    position: relative;
    float: left;
    height: 100%;
    overflow: hidden;
}

.services-det:before{
    position: absolute;
    content: "";
    right: -9px;
    bottom: -8px;
    width: 60px;
    background: url(../images/icons/shapes.png);
    height: 60px;
    background-size: cover;
    transform: scale(-1);
    z-index: 1;
}

.services-det::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background: #355fe1;
    height: 0;
    left: 0;
    transition: all 0.5s ease;
}
.services-det:hover::after{    height: 100%;
    top: 0;
    bottom: auto;}

@keyframes rotate {

    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.services-rhs ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.services-rhs li {
    float: left;
    padding: 15px;
	
}

.services-det {
    position: relative;
    width: 100%;
    border-radius: 20px;
    text-transform: capitalize;
    float: left;
    padding: 44px 40px 43px 40px;
    border: 1px solid #2f4797;
    text-align: center;
    background: #000000;
    overflow: hidden;
}



.services-det h4 {
    margin: 0;
    display: block;
    padding: 20px 0 15px 0;
    position: relative;
    font-weight: 500 !important;
    font-size: 32px;
    z-index: 1;
}
.services-det img{
    position: relative;
    width: 100px;
    z-index: 1;
}
.services-det p {
    font-size: 14px;
    position: relative;
    padding-bottom: 15px;
    line-height: 28px;
    z-index: 1;
}




.radius {
    border-radius: 5px !important;
}

.comm-mani-heading {
    margin-bottom: 40px;
    text-transform: capitalize;
    padding-right: 9px;
    font-size: 43px;
    line-height: 50px;
    position: relative;
}

.blog-post {
    float: left;
    width: 100%;
    position: relative;
    padding: 60px 0 100px 0;
    overflow: hidden;
}

.post-left {
    width: 100%;
    position: relative;
    height: 100%;
}

.post-left img {
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.post-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 50px;
    color: #fff;
}

.post-content a,
.post-content-1 a {
    background: #ff3385;
    color: #fff;
    padding: 2px 6px;
    border-radius: 2px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
}

.post-content h2 {
    color: #fff;
    display: inline-block;
    padding: 25px 0 0 0;
}

.comments {
    float: left;
    width: 100%;
}

.comments ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.comments li {
    padding: 0 9px;
}

.comments span {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}

.comments i {
    color: #fff;
}

.comments b {
    color: #fff;
    font-weight: 500;
}

.post-right {
    position: relative;
}

.post-right ul li:nth-child(2) .post-content-1 a {
    background: #0073ff;
}

.post-right ul li:nth-child(3) .post-content-1 a {
    background: #3dd800;
}

.post-right li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.small-img {
    width: 100%;
    height: 100%;
}

.small-img img {
    border-radius: 2px;
    width: 100%;
}

.post-content-1 a {
    float: left;
    background: #ffaf25;
}

.post-content-1 h3 {
    display: block;
    width: 100%;
    float: left;
    font-size: 19px;
    line-height: 24px;
    margin: 18px 0 18px 0;
}

.post-content-1 {
    width: 100%;
    position: relative;
    padding: 0 0 0 15px;
    float: left;
}

.full-width {
    position: relative;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.full-width:before {
    position: absolute;
    content: "";
}

.comments-c-change span {
    color: #fff;
    margin-left: -7px;
}

.comments-c-change b {
    font-weight: 400;
    color: #fff;
}

.comments-c-change i {
}



.align-items-center {
    width: 100%;
    text-align: center;
}

.testimonial {
    float: left;
    padding: 0 0 100px;
    position: relative;
    width: 100%;
}

.testimonial::before, .testimonial::after {
    background: url(../images/icons/dots.svg) !important;
    background-size: cover !important;
    bottom: auto !important;
    top: 61px;
    width: 155px !important;
    height: 168px !important;
    animation: rotate 20s infinite linear;
}

.testimonial::after {
    background: url(../images/icons/dots.svg) !important;
    background-size: cover !important;
    left: auto !important;
    right: 0;
}

.testimonial .comm-heading {
    width: 100%;
    display: block !important;
    text-align: center;
}

.testimonial1 {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    padding-top: 25px;
}

.testimonial1 ul {
    padding: 0;
    margin: 0;
}

.testimonial1 li {
    float: left;
    margin: 0 10px;
}

.testimonial1-main {
    position: relative;
    float: left;
    width: 100%;
}

.star i {
    color: #ffd807;
    margin: 8px 0 0 0;
    display: inline-block;
    font-size: 20px;
}

.testimonial-img p {
    font-size: 17px;
    padding: 30px 0 30px 0;
    line-height: 30px;
=: =;
=: 0;
}

.clint-img {
    display: flex;
}


.clint-img h4 {
    font-size: 24px;
    margin: 0;
    padding: 9px 0 0 20px;
    display: inline-block;
    color: #fff;
}

.clint-img span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 4px;
    color: #fff;
}

.testimonial-img {
    float: left;
    width: 100%;
    border: 1px solid #786767;
    padding: 45px;
    margin: 0 7px;
    border-radius: 10px;
}

.star {
    float: right;
}

.testimonial1 button {
    opacity: 0;
}




/*-------------------------------------------------*/
/* CONTACT US
/*-------------------------------------------------*/

.contact-us {
    position: relative;
    padding: 100px 0 0 0;
    /* display: none; */
    background: #fff;
    overflow: hidden;
}


.con-det {
    text-transform: capitalize;
    width: 100%;
    float: left;
    padding: 60px;
    background: rgb(239 246 253);
    position: relative;
}
.con-det::before{position: absolute;content: "";top: -31px;left: -44px;background: url(../images/icons/2.svg);width: 66px;height: 47px;background-size: cover;}

.con-det h2,
.contact-det h3 {
    font-size: 40px;
    letter-spacing: -2px;
    color: #000;
}

.con-det p {
    margin: 20px 0 25px 0;
    color: #000;
}

.contact-form {
    float: left;
    width: 100%;
}

.contact-form ul {
    padding: 0;
    margin: 0;
}

.contact-form li {
    margin: 0 0 25px 0;
    float: left;
    width: 100%;
}

.contact-form ul li:last-child {
    border: 0;
}

.contact-form input {
    float: left;
    width: 100%;
    border: 1px solid #b9afaf;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
}

.contact-form .sub-btn {
    text-transform: uppercase;
    padding: 15px;
    border-radius: 50px;
    letter-spacing: 2px;
    margin-top: 15px;
    border: 1px solid #eee;
    background: #eeee;
}


.contact-following {
    float: left;
    margin-top: 20px;
}

.contact-map {
    position: relative;
    float: left;
    width: 100%;
}

.contact-map iframe {
    width: 100%;
    height: 300px;
    position: relative;
    pointer-events: none;
    margin-bottom: -7px;
    margin-top: 40px;
}

.contact-map iframe.clicked {
    pointer-events: auto;
    z-index: 1;
}

.contact-info-lhs {
    text-transform: capitalize;
}

.contact-info-lhs h2,
.contact-info-rhs h3 {
    font-size: 39px;
    line-height: 46px;
    letter-spacing: -1.5px;
    margin: 0 0 15px 0;
    position: relative;
    text-transform: initial;
    display: inline-block;
    position: relative;
    color: #000;
}

.contact-info-lhs h2:before {
    bottom: -6px;
    transform: rotate(2deg);
}

.contact-info-rhs h3:before {
    bottom: -5px;
    transform: rotate(2deg);
}

.contact-banner a:hover {
    color: #055dfd;
    transition: all 0.4s ease;
}

.contact-info-lhs p {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 0 22px 0;
    color: #000;
}

.contact-info-lhs ul {
    padding: 0;
    margin: 0;
}

.contact-info-lhs li {
    float: left;
    width: 100%;
    color: #000;
    margin: 15px 0;
}

.contact-info-lhs i {
    float: left;
    background: #edfbff;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    color: #52d3fd;
    font-size: 24px;
    line-height: 57px;
}

.contact-info-lhs ul li:nth-child(2) i {
    font-size: 30px;
    background: #e7f9f4;
    color: #17c298;
}
.contact-info-lhs ul li:nth-child(3) i{color: rgb(240 64 55 / 86%);background: rgba(240, 64, 55, 0.1);}

.contact-info-lhs span {
    display: inline-block;
    padding: 8px 0 0 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #000;
}

.contact-info-rhs {
    padding: 0 40px;
    position: relative;
}

.contact-info-lhs .following ul li i{
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 41px;
    margin-right: 20px;
}
.contact-info-lhs .following ul li:nth-child(1) i{
    background: #1976d2;
    color: #fff;
}
.contact-info-lhs .following ul li:nth-child(2) i{background: #00a6de;color: #fff;}
.contact-info-lhs .following ul li:nth-child(3) i{
    background: #cb2027;
    color: #fff;
}
.contact-info-lhs .following ul li:nth-child(4) i{
    background: #ce3aa0;
    color: #fff;
}
.contact-info-lhs .following ul li:nth-child(5) i{
    background: #4caf50;
    color: #fff;
}

/*-------------------------------------------------*/
/*  FOOTER
/*-------------------------------------------------*/
.footer {
    float: left;
    width: 100%;
    padding: 140px 0 120px 0;
    overflow: hidden;
    position: relative;
}


.footer-1 {
    float: left;
    width: 100%;
    text-transform: capitalize;
    position: relative;
}

.footer-1:before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 103px;
    height: 125px;
    right: 0;
    background: url(../images/icons/43.png);
}

.log-det {
    float: left;
}

.log-det img {
    width: 140px;
    object-fit: cover;
    float: left;
    filter: invert(1);
}

.log-det p {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    float: left;
    margin: 25px 0 25px 0;
    color: #fff;
}

.log-det .fm {
    float: left;
    width: 100%;
    padding: 0 30px 0 0;
}

.log-det input {
    border: 1px solid #999;
    color: #fff;
    padding: 10px 10px 10px 30px;
    width: 80%;
    border-radius: 30px 0 0 30px;
    float: left;
    font-size: 14px;
    height: 50px;
}

.log-det .sb-btn {
    float: left;
    width: 20%;
    outline: none;
    background: #471383;
    transition: all 0.4s ease;
    height: 50px;
    border-radius: 0 30px 30px 0;
    text-align: center;
    transition: all 0.4s ease;
}

.log-det .sb-btn:hover {
    background: #fd7e14;
    transition: all 0.4s ease;
}

.log-det i {
    font-size: 16px;
    color: #fff;
    margin-top: 4px;
}

.foo-deati {
    float: left;
}

.foo-deati h2,
.add-deati h2 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}

.foo-deati a {
    text-decoration: none;
    display: block;
    font-size: 15px;
    padding: 0 0 15px 0;
    position: relative;
    background: none;
    color: #fff;
    transition: all 0.4s ease;
}

.foo-deati a:hover {
    font-weight: 500;
    padding-left: 20px;
    transition: all 0.4s ease;
    color: #fff;
    padding-left: 18px;
    text-decoration: none;
}

.foo-deati a:before {
    position: absolute;
    content: "";
    left: -1px;
    top: 10px;
    transition: all 0.4s ease;
}

.foo-deati a:hover:before {
    left: 5px;
    transition: all 0.4s ease;
    width: 9px;
    background: #fff;
    height: 1px;
}

.add-deati {
    float: left;
}

.follow-us {
    position: absolute;
    right: 35px;
    bottom: 65px;
}

.follow-us ul {
    margin: 0 auto;
    display: table;
}

.follow-us li {
    margin: 2px 0 2px 9px;
    transform: scale(0);
    transition: all 0.4s ease;
}

.follow-us li.act {
    transition: all 0.4s ease;
    transform: scale(1);
}

.follow-us a {
    display: inline-block;
    background: none;
}

.footer-text span {
    color: #fff;
}

.side-panel-con {
    display: inline-block;
}

side-panel-con ul {
    margin: 0;
    padding: 0;
}

.side-panel-con li {
    float: left;
    list-style-type: none;
    display: block;
    padding: 0px 0 15px 0;
    display: flex;
    width: 100%;
}

.side-panel-con i {
    color: rgb(240 64 55 / 86%);
    margin-right: 15px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    height: 35px;
    width: 35px;
    background: rgba(240, 64, 55, 0.1);
    text-align: center;
    line-height: 34px;
    border-radius: 50%;
}

.side-panel-con li:nth-child(2) i,
.abt-why-booking ul li:nth-child(2) i {
    color: rgb(82 211 253);
    background: rgba(82, 211, 253, .1);
}

.side-panel-con li:nth-child(3) i,
.abt-why-booking ul li:nth-child(3) i {
    color: rgb(23 194 152);
    background: rgba(23, 194, 152, .1);
}


/*-------------------------------------------------*/
/*  COPY RIGHT
/*-------------------------------------------------*/

.cpy-right-top {
    width: 100%;
    float: left;
}

.cpy-right {
    float: left;
    width: 100%;
    border-top: 1px solid #534646;
    padding: 40px 0 20px 0;
}

.cpy-right h3 {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.cpy-right .c-arrow {
    font-size: 16px;
    font-style: normal;
    display: inline-block;
    position: relative;
    top: 1px;
}

.cpy-right a {
    margin: 0 2px;
    text-decoration: none;
    font-size: 13px;
    background: none;
    color: var(--primary);
    font-weight: 300;
    color: #fff !important;
}

.cpy-right ul li:last-child {
    width: 20%;
}

.privacy {
    float: right;
}

.privacy a {
    text-decoration: none;
    font-size: 13px;
    margin-right: 10px;
}

.footer-follow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 12px;
    position: relative;
    top: 4px;
}

.footer-follow li {
    float: left;
    width: auto;
    padding: 0 7px;
}

.footer-follow i {
    float: left;
    font-size: 13px;
    border: 1px solid #b9b9b9;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-follow i:hover {
    background: #3c3ddc;
    transition: all 0.4s ease;
    color: #fff;
    border: 1px solid #3c3ddc;
}

.cpy {
    float: left;
    padding: 0 6px;
}

.mb h5 {
    margin-bottom: 20px;
    color: #fff;
}



/*-------------------------------------------------*/
/* BLOG-DETAILS
/*-------------------------------------------------*/
.commen-banner {
    float: left;
    width: 100%;
    background: url(../images/img1/9.jpg);
    position: relative;
    padding: 250px 0 150px 22px;
    background-size: cover;
    background-position: inherit;
}

.commen-banner:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ff000070;
}

.banner-inner h3 {
    color: #fff;
    font-size: 50px;
}

.popu-news img {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    object-fit: cover;
}

.banner-inner a {
    color: #fff !important;
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
}

.banner-inner .add {
    text-decoration: underline;
    color: #39f45d;
}

.banner-inner {
    position: relative;
    color: #fff;
}

.blog-deatiles {
    float: left;
    width: 100%;
    padding: 120px 0;
    background: #fff;
    position: relative;
}

.blg-lhs {
    padding-right: 40px;
}

.blg-rhs {
    padding-left: 30px;
}

.blog-det-inn {
    border: 0;
    padding: 0;
    position: relative;
}

.blog-meta i {
    color: #777;
    font-size: 13px;
    padding: 0 12px;
    border-right: 1px solid #c3afaf;
}

.blog-meta i:last-child {
    border-right: 0;
}

.blog-det-inn h3 {
    padding: 15px 129px 18px 0;
    font-size: 33px;
    letter-spacing: -1px;
    text-transform: inherit;
    line-height: 44px;
}

.blog-det-inn h6 {
    display: inline-block;
    text-transform: capitalize;
}

.blog-det-inn b {
    font-size: 12px;
    font-weight: 400;
    padding: 0 5px;
}

.packages-overview {
    padding: 0;
    overflow: visible;
}

.blg-inn-content {
    float: left;
    width: 100%;
}

.overview-txt {
    padding: 0;
    margin-top: -5px;
}

.blg-inn-content-im {
    position: relative;
}

.blg-inn-content-im img {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 30px;
    object-fit: cover;
    height: 100%;
}

.blg-inn-content p {
    display: inline-block;
    font-size: 14px;
    line-height: 1.8;
    text-transform: capitalize;
    margin: 0;
    padding: 0 0 40px 0;
}

.blg-inn-content .arrows {
    color: #e2e6ff;
    padding: 0 10px;
    position: absolute;
    right: 25px;
    bottom: -30px;
    font-size: 90px;
}

.blg-inn-content .au-name {
    text-transform: capitalize;
    color: #666;
    position: absolute;
    left: 89px;
    bottom: 30px;
    font-size: 15px;
    font-style: normal;
}

.blg-inn-content .au-name:before {
    position: absolute;
    content: "";
    background: #243bbb;
    height: 3px;
    width: 30px;
    bottom: 11px;
    left: -38px;
}

.blg-inn-content .bl-in-test {
    background: #f7f7f7;
    font-size: 18px;
    padding: 45px 50px 70px 50px;
    position: relative;
    font-weight: 600;
    margin: 0 0 35px 0;
    overflow: hidden;
    line-height: 30px;
    border-left: 3px solid #3f51b5;
    border-radius: 5px 0 0 5px;
}

.blg-inn-auther {
    float: left;
    width: 100%;
    position: relative;
    margin: 20px 0 40px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 40px;
}

.auther-in-im {
    float: left;
    width: 25%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.auther-in-im img {
    width: 100%;
    height: 189px;
    position: relative;
    object-fit: cover;
    float: left;
    border-radius: 5px;
}

.auther-in-txt {
    width: 75%;
    float: left;
    padding: 35px 20px 35px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.auther-in-txt h3 {
    display: inline-block;
    letter-spacing: -1px;
    text-transform: capitalize;
    font-size: 22px;
}

.auther-in-txt p {
    font-size: 14px;
    line-height: 26px;
    margin: 10px 0;
}

.auther-in-txt a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    background: none;
}

.auther-in-txt i {
    position: relative;
    font-size: 15px;
    color: #999;
    top: 0;
    left: 0;
    margin: 0 12px;
    transition: all 0.4s ease;
}

.auther-in-txt i:hover {
    color: #007bff;
    transition: all 0.4s ease;
}

.blg-inn-content h4 {
    float: left;
    padding-bottom: 3px;
    width: 100%;
    font-size: 25px;
    letter-spacing: -1px;
    text-transform: inherit;
}

.blg-in-comment {
    float: left;
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.blg-in-comment h2 {
    padding-bottom: 28px;
    font-size: 22px;
    position: relative;
}

.blg-in-comment ul {
    padding: 0;
    margin: 0;
}

.blg-in-comment li {
    width: 100%;
    margin: 0 0 35px 0;
    float: left;
    position: relative;
}

.blg-in-comment input,
.blg-in-comment textarea {
    float: left;
    width: 100%;
    padding: 22px 20px 22px 52px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 15px;
    transition: all 0.5s ease;
    background: #eee;
}

.blg-in-comment i {
    position: absolute;
    left: 26px;
    top: 24px;
    color: #c6c0c0;
}

.blg-in-comment .blg-in-submit {
    background: #3c3ddc;
    border: 0;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    padding: 20px 70px;
    width: auto;
    border: none;
    margin-top: 5px;
}

.blg-in-comment .blg-in-submit:hover {
    transition: all 0.6s ease;
    background: #fd7e14;
    border: none;
}

.blg-in-comment ul li:nth-child(1),
.blg-in-comment ul li:nth-child(2) {
    width: 50%;
    float: left;
    padding-right: 35px;
}

.blg-in-comment ul li:nth-child(2) {
    padding-right: 0;
}

.blg-in-comment ul li:nth-child(4) textarea {
    width: 100%;
    padding: 35px 15px 150px 52px;
    transition: all 0.5s ease;
}

.abt-author .authore-media {
    position: relative;
    right: 0;
    bottom: 0;
    margin-top: 5px;
}

.top {
    top: 38px  !important;
}

.auther-comment {
    float: left;
    width: 100%;
    text-transform: capitalize;
    padding: 0 0 25px 0;
}

.auther-comment .au-comm-box:last-child {
    border: 0;
}

.auther-comm-1 {
    padding-top: 60px;
}

.auther-comment h2 {
    display: inline-block;
    letter-spacing: -1px;
    font-size: 25px;
    font-weight: 500;
}

.au-comm-box {
    float: left;
    padding: 30px 0 30px 0;
    border-bottom: 1px solid #eee9e9;
    display: flex;
    align-items: center;
}

.au-img {
    float: left;
}

.au-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.au-comm-text {
    float: left;
    width: 82%;
    padding: 8px 0 0 20px;
    position: relative;
}

.au-comm-text h3 {
    font-size: 18px;
    line-height: 28px;
    display: inline-block;
    font-weight: 500;
}

.au-comm-text span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #666;
    padding: 3px 0;
    display: inline-block;
    width: 100%;
}

.au-comm-text p {
    margin: 0;
    font-size: 14px;
    float: left;
}

.au-comm-text i {
    position: absolute;
    right: 0;
    top: 7px;
    display: inline-block;
    padding: 6px;
    border-radius: 50px;
    color: #645555;
    font-size: 13px;
}

.au-comm-text b {
    font-size: 13px;
    margin-left: 8px;
    display: inline-block;
    font-weight: 400;
}

.blg-search {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.blg-search input {
    background: #f7f7f7;
    border-radius: 5px 0 0 5px;
    padding: 16px 40px 10px 25px;
    font-size: 14px;
    border: 1px solid #f3e8e8;
    float: left;
}

.blg-search .blg-sear-btn {
    float: left;
    background: #3c3ddc;
    border-radius: 0 5px 5px 0;
    outline: none;
    width: 70px;
    height: 49px;
}

.blg-search .blg-sear-btn i {
    position: relative;
    left: 0;
    margin-right: 0;
    line-height: 46px;
    color: #fff;
}

.popu-news {
    float: left;
    width: 100%;
    margin-top: 45px;
    position: relative;
}

.blg-headline {
    padding: 0;
}

.m-a-top {
    margin-top: 10px;
}

.latest-news {
    margin-top: 0;
}

.comm-head {
    font-size: 16px;
    letter-spacing: -1px;
    display: inline-block;
    margin: 0;
    position: relative;
    width: 100%;
}

.tags-head {
    padding-bottom: 10px;
}

.popu-news ul {
    padding: 0;
    margin: 0;
}

.popu-news li {
    width: 100%;
    float: left;
    padding: 20px 0;
    border-bottom: 1px solid #e5d5d5;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
}

.popu-news li:hover .blg-post-content h3 {
    color: #3c3ddc;
    transition: all 0.5s ease;
}

.popu-news ul li:nth-child(3) {
    border: 0;
}

.blg-post-content {
    padding: 0 0 0 22px;
}

.blg-post-content a {
    color: #8a8c93;
    font-size: 12px;
    text-decoration: none;
    float: left;
    background: none;
    font-weight: 500;
    padding-bottom: 7px;
    width: 100%;
}

.blg-post-content h3 {
    font-size: 15px;
    line-height: 22px;
    transition: all 0.5s ease;
    font-weight: 500;
}

.blg-post-content span {
    margin-left: 0;
    font-size: 12px;
    color: #8a8c93;
}

.blg-post-content i {
    margin: 0 12px 0 0;
}

.Categories,
.help {
    float: left;
    width: 100%;
    background: #fff;
    margin: 35px 0 0 0;
    box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
    padding: 35px 35px 20px 35px;
}

.help {
    position: sticky;
    background: url(../images/places/9.jpg) no-repeat;
    background-size: cover;
    border-radius: 5px;
    color: #fff;
    padding: 35px 35px 15px 35px;
    margin-top: 40px;
    top: 65px;
}

.Categories ul {
    padding: 0;
    margin: 0;
}

.Categories li {
    float: left;
    width: 100%;
    position: relative;
    transition: all 0.4s ease;
    border-bottom: 1px solid #e7d7d7;
    padding: 15px 0;
}

.Categories li:hover a {
    border-bottom: 1px solid #3c3ddc;
    transition: all 0.4s ease;
}

.Categories li:hover i {
    transition: all 0.4s ease;
    background: #3c3ddc;
    color: #fff;
}

.Categories ul li:last-child {
    border: 0;
}

.Categories a {
    font-size: 15px;
    text-decoration: none;
    transition: all 0.4s ease;
    text-transform: capitalize;
    z-index: 2;
    top: 30px;
    left: 20px;
    background: none;
    float: left;
    color: #fff;
}

.Categories i {
    transition: all 0.4s ease;
    font-size: 14px;
    font-style: normal;
    float: right;
    background: #fff;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
}

.m-b {
    margin-bottom: 30px;
}

.tags {
    float: left;
    width: 100%;
    margin-top: 55px;
}

.tags a {
    color: #646464;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 10px 11px 2px -4px;
    display: inline-block;
    font-size: 13px;
    padding: 3px 8px;
    transition: all 0.5s ease;
    background: none;
}

.tags a:hover {
    background: #3c3ddc;
    transition: all 0.5s ease;
    color: #fff;
}

.tags-share {
    display: flex;
    width: 100%;
    text-transform: capitalize;
    padding: 0 0 40px 0;
    border-bottom: 1px solid #eee;
}

.tag-lhs {
    flex-basis: 70%;
}

.tag-lhs span,
.tag-share span {
    font-weight: 500;
}

.tag-lhs .point {
    padding: 3px 15px;
    background: #F5F5F5;
    margin: 0 8px;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
    text-decoration: none;
}

.tag-lhs .point:hover {
    background: #3c3ddc;
    color: #fff;
}

.tag-share {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    flex-basis: 30%;
}

.tag-share a {
    font-size: 19px;
    color: #afb2bb;
    margin: 0 8px;
    background: none;
}

.tag-share a :hover {
    color: #3c3ddc;
}

.pointer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/*-------------------------------------------------*/
/* FAQ  
/*-------------------------------------------------*/

.faq{float: left;width: 100%;padding-bottom: 100px;position: relative;overflow: hidden;}

.faq-rhs {
    float: left;
    width: 100%;
    border-radius: 8px;
    text-transform: capitalize;
    position: relative;
}

.faq-rhs:before {
    background: #00bcd4;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 84%;
    bottom: -99px;
    animation: move 10s infinite linear;
}

.faq-rhs:after {
    top: -100px;
    background: none;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    z-index: 0;
    left: 28em;
    animation: full 5.8s infinite linear;
}

.faq-rhs .act{
    display: block;
}

.faq-rhs ul {
    padding: 0;
    margin: 0;
}

.faq-rhs ul li {
    margin: 4px 0 12px 0;
    padding: 20px;
    float: left;
    width: 100%;
    position: relative;
    border-left: 3px solid #825394;
    box-shadow: 0 3px 30px 0 #f1ecec36;
    transition: all 0.3s ease;
    z-index: 1;
    text-align: left;
    background: radial-gradient(at top right, #2D2D2D 0%, #191919 100%);
    margin-bottom: 19px;
    border-radius: 15px;
}
.faq-rhs ul li:hover p{color: #000;}
.faq-rhs ul li:hover {
    box-shadow: 0px 8px 40px 0px rgb(0 48 31 / 10%);
    background: #fff;
    transition: all 0.3s ease;
}

.faq-rhs ul li:hover h3 {
    transition: all 0.6s ease;
    color: #000;
}

.faq-rhs ul li h3 {
    font-size: 19px;
    cursor: pointer;
    line-height: 35px;
    padding-right: 10px;
    transition: all 0.5s ease;
    position: relative;
    margin: 0;
}

.faq-rhs li h3:before {
    width: 4px;
    height: 20px;
    position: absolute;
    content: "";
    right: 18px;
    top: 10px;
    background: #fff;
}

.faq-rhs ul li h3:after {
    position: absolute;
    content: "";
    right: 10px;
    top: 18px;
    background: #fff;
    width: 20px;
    height: 4px;
}

.faq-rhs ul li h3.act:before {
    display: none;
}

.faq-rhs p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    display: none;
    line-height: 28px;
    padding-top: 5px;
}

.faq-rhs ul li:last-child {
    border: none;
    margin-bottom: 0;
    border-left: 3px solid #825394;
}

.faq-img {
    float: left;
    width: 100%;
    margin-top: 95px;
}

.faq-img img {
    width: 100%;
    height: 100%;
    position: relative;
    transform: scalex(-1);
}

.faq-img:before {
    position: absolute;
    content: "";
    bottom: -30px;
    right: auto;
    background: url(../images/icons/c1.png);
    height: 200px;
    width: 200px;
    background-size: 16px;
    border-radius: 50%;
    animation: move 8s infinite linear;
}


.faq .comm-heading{margin: 0 0 -51px 0;}

.faq::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    background: url(../images/background/2.png);
    background-size: cover;
    width: 100%;
    height: 267px;
    right: 0;
}



/*-------------------------------------------------*/
/* Crypto Investing  
/*-------------------------------------------------*/

.crypto-investing{
    position: relative;
    float: left;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    overflow: hidden;
}
.investing{
    padding-right: 50px;text-align: left;
}
.investing .comm-btn{
    margin-top: 0;
}

.investing-img{position: relative;display: flex;align-items: center;justify-content: center;}
.investing-img::before{position: absolute;content: "";background: url(../images/img1/3.png);background-size: cover;width: 550px;height: 550px;z-index: -1;animation: rotate 20s infinite linear;left: 53%;top: 55%;}

/*-------------------------------------------------*/
/*  oru-community
/*-------------------------------------------------*/

.oru-community{
    padding-top: 0;
}
.oru-community .investing{
    padding-right: 0;
    padding-left: 50px;
}
.oru-community{}
.oru-community .investing-img{
    padding: 50px 50px 50px 0;
}
.oru-community .investing-img::before{}


/*-------------------------------------------------*/
/*  start your crypto
/*-------------------------------------------------*/
.start-crypto{
    display: inline-block;
    width: 100%;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
.start-crypto h2{
   
font-size: 44px;
   
line-height: 52px;
   
margin-bottom: 20px;
}
.start-crypto p{
   
font-size: 18px;
}
.start-crypto a{
    border: 0;
    background: linear-gradient(to bottom, rgb(4 255 253), rgb(208 14 221));
    overflow: revert;
    z-index: 2;
}

.start-crypto .start-left{text-align: left;padding-right: 50px;}

.start-crypto .row{
    background-image: radial-gradient(at top right, #2D2D2D 0%, #191919 100%);
    padding: 50px;
    border-radius: 30px;
}
.start-crypto b{position: relative;font-weight: 600;}
.start-crypto b::before{position: absolute;content: "";bottom: 0;left: 0;right: 0;background: #a766f454;width: 100%;height: 38px;top: 10px;}
